.tags {
  background-color: darkblue;
  margin-right: 5px;
  margin-bottom: 6px;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-size: smaller;
  color: white;
}

.tags-container {
  display: flex; 
  margin-left: 1em;
  flex-wrap: wrap;

}

.searchbar {
  border-radius: 8px;
}

.search-container {
  max-width: 300px;
}



.search-sidebar {
  height: 100%; 
  position: fixed; 
  z-index: 1; 
  background-color: lightblue; 
  overflow-y: hidden; 

}

.results {
  margin-left: 500px;
  padding: 0px 10px;
}