.tags {
  background-color: darkblue;
  margin-right: 5px;
  margin-bottom: 6px;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-size: smaller;
  color: white;
}

.tags-container {
  display: flex; 
  margin-left: 1em;
  flex-wrap: wrap;

}

.searchbar {
  border-radius: 8px;
}

.searchComponent {
  
}

.search-sidebar {
  /* height: 100%; 
  position: fixed;
  background-color: lightblue; 
  overflow-y: hidden;  */
  position: fixed;
  height: 100%;
  width: 30%;
  float: left;
  background-color: lightblue; 

}

.search-sidebar-name{
  font-weight:bold;
  color:#4169e1;
  text-decoration: underline;
}

.search-sidebar-searchbar {
  margin-left: 30px;
  margin-right: 30px;
}

.results {
  margin-left: 500px;
  padding: 0px 10px;
}