.App {
  text-align: center;
}

.site-container {
  margin: 2em;
}

.navbar-brand{
  color:#C4C5C6 !important;
  font-family: "Bubblegum Sans" !important;
}

a, .navbar-nav, .nav-link {
  color: #C4C5C6 !important;

  &:hover {
    color: white;
  }
}

.tags {
  background-color: darkblue;
  margin-right: 5px;
  margin-bottom: 6px;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-size: smaller;
  color: white;
}

.tags-container {
  display: flex; 
  margin-left: 1em;
  flex-wrap: wrap;

}

.searchbar {
  border-radius: 8px;
}

.search-container {
  max-width: 300px;
  background-color: lightblue;
}



.search-sidebar {
  height: 100%; 
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /* top: 0; Stay at the top */
  /* left: 0; */
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */

}