.App {
  text-align: center;
}

.navbar-brand{
  color:#C4C5C6 !important;
  font-family: "Bubblegum Sans" !important;
}

a, .navbar-nav, .nav-link {
  color: #C4C5C6 !important;

  &:hover {
    color: white;
  }
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  background-image: url("../public/testImg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
