.App {
  text-align: center;
  padding-top: 56px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.site-container {
  margin: 2em;
}

.navbar {
  background-color: #002D72;
}
.navbar-brand{
  color:#ffffff !important;
  }

a, .navbar-nav, .nav-link {
  color: #ffffff !important;

  &:hover {
    color: white;
  }
}

