{{#partial "content"}}
    <h1>Courses</h1>

    <ul>
        {{#each courseList}}
            <li><a href="courses/{{id}}/reviews">{{name}} at {{url}}</a></li>
        {{/each}}
    </ul>
g
    <form action="/courses" method="post">
        <input type="text" placeholder="course name" name="coursename"/>
        <input type="text" placeholder="course url" name="courseurl"/>
        <button>Submit</button>
    </form>
{{/partial}}

{{> base.hbs}}
